@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>English Language Learning</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue lacinia, sodales metus et, eleifend leo. Phasellus sollicitudin mi sem</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et augue lacinia, sodales metus et, eleifend leo. Phasellus sollicitudin mi sem. Suspendisse urna arcu, porttitor vel tristique in, iaculis id mi. Sed ultricies sapien viverra risus sollicitudin, non commodo nunc venenatis.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Parents</h2>
        <p>Nulla nisl arcu, egestas vel porttitor vel, gravida in ligula. Nunc libero orci, imperdiet tempus aliquam ut, mollis pretium nisl. Proin tellus lorem, tristique id sodales sed, sollicitudin eget orci. Maecenas vel libero at lectus dignissim posuere at ut quam.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Payments</h2>
        <p>Pellentesque quam urna, aliquam non libero vel, interdum mattis diam. Vestibulum maximus feugiat purus, at sagittis sapien semper gravida. Sed eget leo arcu. Duis eget commodo massa. In est ipsum, vestibulum quis enim non, porta faucibus metus. Integer vitae quam dolor. Donec blandit ex risus, at scelerisque arcu varius et.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

